
body {
    font-family: Arial, sans-serif;
    background-color: blue;
    color: black;
}

.my-class {
    font-weight: bold;
}

#site-title {
    font-size: 24px;
    color: darkblue;
}

a:hover {
    color: red;
}


section {
    margin: 20px;
    padding: 10px;
}

nav li {
    margin-right: 10px;
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}
